@define-color fg1 rgb(235, 219, 178);
@define-color fg2 rgb(213, 196, 161);
@define-color fg3 rgb(189, 174, 147);
@define-color fg4 rgb(168, 153, 132);

@define-color red rgb(204, 36, 29);
@define-color green rgb(152, 151, 26);
@define-color blue rgb(69, 133, 136);
@define-color yellow rgb(215, 153, 33);
@define-color purple rgb(177, 98, 134);
@define-color aqua rgb(104, 157, 106);

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Ubuntu Nerd Font;
    font-weight: bold;
    font-size: 14px;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.5);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: @fg1;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px @fg4;
}

/* you can set a style on hover for any module like this */
/*#pulseaudio:hover {
    background-color: #a37800;
}*/

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @fg2;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: @fg3;
    box-shadow: inset 0 -3px @fg1;
}

#workspaces button.urgent {
    background-color: @red;
}
#workspaces button.empty {
    color: @fg4;
}
#workspaces button.active {
    color: @fg1;
    box-shadow: inset 0 -3px @fg1;
}
#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px @fg1;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 2px;
    color: @fg1;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    color: @aqua;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}

#cpu {
    color: @green;
}

#memory {
    color: @blue;
}

#disk {
    color: @purple;
}

#pulseaudio {
    color: @yellow;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#tray {
    background-color: rgba(0,0,0,0);
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
